// color palette
$background: #d0d6e2;
$primary: #adb993;
$secondary: #b4b631;
$highlight: #f6ca83;
$accent-color: #215b96;
$font-color: #0f0e0e;

// typography
$primary-font: 'Raleway', sans-serif;

$fw-l: 300;
$fw-n: 500;
$fw-b: 900;

// friends
$spacer: 1rem;
